<header class="site-header">

  <div class="header-left">
    <a class="site-title"
       href="{{ '/' | relative_url }}">
      {{ site.title }}
    </a>
  </div>

  <nav class="site-nav">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/research' | relative_url }}">Research</a>
    <a href="{{ '/02-education' | relative_url }}">Education</a>
    <a href="{{ '/09-skills-profiles' | relative_url }}">Skills</a>
  </nav>

  <button id="theme-toggle">
    ☾
  </button>

</header>
