/* Make site full width */
.wrapper,
.inner {
  max-width: 100% !important;
  width: 100% !important;
  padding: 0 2rem; /* small breathing space */
  box-sizing: border-box;
}

/* Purple links */
a {
  color: purple !important;
}
a:hover {
  color: rebeccapurple !important;
}
